In [12]:
import pandas as pd
import pandera as pa

In [32]:
df = pd.read_csv("G:/ProjetoData/ForcaAereaBrasileira/ocorrencia_2010_2020.csv", sep=";", parse_dates=['ocorrencia_dia'], dayfirst=True)
df.head(10)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas
0,49474,49474,ACIDENTE,ÁGUAS INTERNACIONAIS,**,****,2013-09-02,02:54:00,1
1,40310,40310,INCIDENTE,CRUZEIRO DO SUL,AC,SBCZ,2010-01-18,19:32:00,1
2,40207,40207,INCIDENTE,CRUZEIRO DO SUL,AC,SBCZ,2010-02-06,22:30:00,1
3,39913,39913,INCIDENTE GRAVE,RIO BRANCO,AC,SBRB,2010-03-10,06:17:00,1
4,40273,40273,INCIDENTE,RIO BRANCO,AC,SBRB,2010-03-10,14:30:00,1
5,40295,40295,INCIDENTE,RIO BRANCO,AC,SBRB,2010-04-11,19:20:00,1
6,41579,41579,INCIDENTE,SANTA ROSA DO PURUS,AC,****,2010-06-09,13:55:00,1
7,41976,41976,INCIDENTE,RIO BRANCO,AC,****,2010-07-23,08:08:00,1
8,43711,43711,INCIDENTE,RIO BRANCO,AC,****,2011-01-20,17:58:00,1
9,43702,43702,ACIDENTE,RIO BRANCO,AC,****,2011-01-21,17:35:00,1

In [38]:
schema = pa.DataFrameSchema(
    columns = {
        "codigo":pa.Column(pa.Int, required=False),
        "codigo_ocorrencia":pa.Column(pa.Int),
        "codigo_ocorrencia2":pa.Column(pa.Int),
        "ocorrencia_classificacao":pa.Column(pa.String),
        "ocorrencia_cidade":pa.Column(pa.String),
        "ocorrencia_uf":pa.Column(pa.String, pa.Check.str_length(2,2)),
        "ocorrencia_aerodromo":pa.Column(pa.String),
        "ocorrencia_dia":pa.Column(pa.DateTime),
        "ocorrencia_hora":pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'), nullable=True),
        "total_aeronaves_envolvidas":pa.Column(pa.Int)
        
    }
)

In [39]:
schema.validate(df)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas
0,49474,49474,ACIDENTE,ÁGUAS INTERNACIONAIS,**,****,2013-09-02,02:54:00,1
1,40310,40310,INCIDENTE,CRUZEIRO DO SUL,AC,SBCZ,2010-01-18,19:32:00,1
2,40207,40207,INCIDENTE,CRUZEIRO DO SUL,AC,SBCZ,2010-02-06,22:30:00,1
3,39913,39913,INCIDENTE GRAVE,RIO BRANCO,AC,SBRB,2010-03-10,06:17:00,1
4,40273,40273,INCIDENTE,RIO BRANCO,AC,SBRB,2010-03-10,14:30:00,1
...,...,...,...,...,...,...,...,...,...
5747,79301,79301,ACIDENTE,BREJINHO DE NAZARÉ,TO,****,2020-04-18,13:30:00,1
5748,79484,79484,ACIDENTE,GURUPI,TO,SWGI,2020-08-08,13:20:00,1
5749,79636,79636,ACIDENTE,PALMAS,TO,****,2020-10-29,20:00:00,1
5750,79690,79690,INCIDENTE GRAVE,PORTO NACIONAL,TO,SWEJ,2020-11-24,20:00:00,1
5751,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,2020-12-30,18:30:00,1

In [40]:
df.dtypes

codigo_ocorrencia                      int64
codigo_ocorrencia2                     int64
ocorrencia_classificacao              object
ocorrencia_cidade                     object
ocorrencia_uf                         object
ocorrencia_aerodromo                  object
ocorrencia_dia                datetime64[ns]
ocorrencia_hora                       object
total_aeronaves_envolvidas             int64
dtype: object

In [41]:
df.ocorrencia_dia.dt.month

0        9
1        1
2        2
3        3
4        3
        ..
5747     4
5748     8
5749    10
5750    11
5751    12
Name: ocorrencia_dia, Length: 5752, dtype: int64

pip install pandera