In [4]:
import pandas as pd
import pandera as pa

In [5]:
valores_ausentes = ['**','###!','####','****','*****','NULL']
df = pd.read_csv("G:/ProjetoData/ForcaAereaBrasileira/ocorrencia_2010_2020.csv", sep=";", parse_dates=['ocorrencia_dia'], dayfirst=True, na_values=valores_ausentes)
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
0,77289,77289,INCIDENTE,VITÓRIA DA CONQUISTA,BA,SBQV,2017-11-28,00:00:00,1,0
1,46349,46349,INCIDENTE,GOIÂNIA,GO,SBGO,2012-08-23,00:00:00,1,0
2,65572,65572,INCIDENTE,GOIÂNIA,GO,SBGO,2016-08-25,00:00:00,1,0
3,78635,78635,INCIDENTE,OURO FINO,MG,SNOF,2019-04-04,00:00:00,1,0
4,79449,79449,ACIDENTE,PATROCÍNIO,MG,NaN,2020-07-21,00:00:00,1,0

In [6]:
schema = pa.DataFrameSchema(
    columns = {
        "codigo_ocorrencia": pa.Column(pa.Int),
        "codigo_ocorrencia2": pa.Column(pa.Int),
        "ocorrencia_classificacao": pa.Column(pa.String),
        "ocorrencia_cidade": pa.Column(pa.String),
        "ocorrencia_uf": pa.Column(pa.String, pa.Check.str_length(2,2), nullable=True),
        "ocorrencia_aerodromo": pa.Column(pa.String, nullable=True),
        "ocorrencia_dia": pa.Column(pa.DateTime),
        "ocorrencia_hora": pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'), nullable=True),
        "total_recomendacoes": pa.Column(pa.Int)   
    }
)

In [7]:
schema.validate(df)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
0,77289,77289,INCIDENTE,VITÓRIA DA CONQUISTA,BA,SBQV,2017-11-28,00:00:00,1,0
1,46349,46349,INCIDENTE,GOIÂNIA,GO,SBGO,2012-08-23,00:00:00,1,0
2,65572,65572,INCIDENTE,GOIÂNIA,GO,SBGO,2016-08-25,00:00:00,1,0
3,78635,78635,INCIDENTE,OURO FINO,MG,SNOF,2019-04-04,00:00:00,1,0
4,79449,79449,ACIDENTE,PATROCÍNIO,MG,NaN,2020-07-21,00:00:00,1,0
...,...,...,...,...,...,...,...,...,...,...
5747,41574,41574,INCIDENTE,JUIZ DE FORA,MG,NaN,2010-05-14,23:57:00,1,0
5748,65490,65490,ACIDENTE,LONDRINA,PR,SBLO,2016-07-31,23:57:00,1,0
5749,52596,52596,ACIDENTE,CONFINS,MG,SBCF,2014-09-25,23:58:00,1,0
5750,77940,77940,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2018-06-07,23:58:00,1,0
5751,78823,78823,INCIDENTE,CORUMBÁ,MS,NaN,2017-07-09,NaN,1,0

In [8]:
df.dtypes

codigo_ocorrencia                      int64
codigo_ocorrencia2                     int64
ocorrencia_classificacao              object
ocorrencia_cidade                     object
ocorrencia_uf                         object
ocorrencia_aerodromo                  object
ocorrencia_dia                datetime64[ns]
ocorrencia_hora                       object
total_aeronaves_envolvidas             int64
total_recomendacoes                    int64
dtype: object

In [9]:
df.loc[1]

codigo_ocorrencia                           46349
codigo_ocorrencia2                          46349
ocorrencia_classificacao                INCIDENTE
ocorrencia_cidade                         GOIÂNIA
ocorrencia_uf                                  GO
ocorrencia_aerodromo                         SBGO
ocorrencia_dia                2012-08-23 00:00:00
ocorrencia_hora                          00:00:00
total_aeronaves_envolvidas                      1
total_recomendacoes                             0
Name: 1, dtype: object

In [10]:
df.iloc[1]

codigo_ocorrencia                           46349
codigo_ocorrencia2                          46349
ocorrencia_classificacao                INCIDENTE
ocorrencia_cidade                         GOIÂNIA
ocorrencia_uf                                  GO
ocorrencia_aerodromo                         SBGO
ocorrencia_dia                2012-08-23 00:00:00
ocorrencia_hora                          00:00:00
total_aeronaves_envolvidas                      1
total_recomendacoes                             0
Name: 1, dtype: object

In [11]:
df.iloc[-1]

codigo_ocorrencia                           78823
codigo_ocorrencia2                          78823
ocorrencia_classificacao                INCIDENTE
ocorrencia_cidade                         CORUMBÁ
ocorrencia_uf                                  MS
ocorrencia_aerodromo                          NaN
ocorrencia_dia                2017-07-09 00:00:00
ocorrencia_hora                               NaN
total_aeronaves_envolvidas                      1
total_recomendacoes                             0
Name: 5751, dtype: object

In [12]:
df.tail()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
5747,41574,41574,INCIDENTE,JUIZ DE FORA,MG,NaN,2010-05-14,23:57:00,1,0
5748,65490,65490,ACIDENTE,LONDRINA,PR,SBLO,2016-07-31,23:57:00,1,0
5749,52596,52596,ACIDENTE,CONFINS,MG,SBCF,2014-09-25,23:58:00,1,0
5750,77940,77940,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2018-06-07,23:58:00,1,0
5751,78823,78823,INCIDENTE,CORUMBÁ,MS,NaN,2017-07-09,NaN,1,0

In [13]:
df.iloc[10:15]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
10,78264,78264,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2018-10-23,00:00:00,1,0
11,78867,78867,INCIDENTE,IRACEMA,RR,NaN,2019-07-06,00:00:00,1,8
12,66665,66665,ACIDENTE,CACHOEIRA DO SUL,RS,NaN,2017-04-23,00:00:00,1,0
13,77351,77351,ACIDENTE,RESTINGA SECA,RS,NaN,2017-11-11,00:00:00,1,2
14,78977,78977,INCIDENTE,SÃO CARLOS,SP,SDSC,2019-10-17,00:00:00,1,0

In [14]:
df.loc[10:15]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
10,78264,78264,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2018-10-23,00:00:00,1,0
11,78867,78867,INCIDENTE,IRACEMA,RR,NaN,2019-07-06,00:00:00,1,8
12,66665,66665,ACIDENTE,CACHOEIRA DO SUL,RS,NaN,2017-04-23,00:00:00,1,0
13,77351,77351,ACIDENTE,RESTINGA SECA,RS,NaN,2017-11-11,00:00:00,1,2
14,78977,78977,INCIDENTE,SÃO CARLOS,SP,SDSC,2019-10-17,00:00:00,1,0
15,51462,51462,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2014-05-09,00:02:00,1,0

In [15]:
df.loc[:,'ocorrencia_uf']

0       BA
1       GO
2       GO
3       MG
4       MG
        ..
5747    MG
5748    PR
5749    MG
5750    RJ
5751    MS
Name: ocorrencia_uf, Length: 5752, dtype: object

In [16]:
df['ocorrencia_uf']

0       BA
1       GO
2       GO
3       MG
4       MG
        ..
5747    MG
5748    PR
5749    MG
5750    RJ
5751    MS
Name: ocorrencia_uf, Length: 5752, dtype: object

In [17]:
df.isna().sum()

codigo_ocorrencia                0
codigo_ocorrencia2               0
ocorrencia_classificacao         0
ocorrencia_cidade                0
ocorrencia_uf                    1
ocorrencia_aerodromo          2349
ocorrencia_dia                   0
ocorrencia_hora                  1
total_aeronaves_envolvidas       0
total_recomendacoes              0
dtype: int64

In [18]:
df.isnull().sum()

codigo_ocorrencia                0
codigo_ocorrencia2               0
ocorrencia_classificacao         0
ocorrencia_cidade                0
ocorrencia_uf                    1
ocorrencia_aerodromo          2349
ocorrencia_dia                   0
ocorrencia_hora                  1
total_aeronaves_envolvidas       0
total_recomendacoes              0
dtype: int64

In [19]:
filtro = df.ocorrencia_uf.isnull()
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
186,49474,49474,ACIDENTE,ÁGUAS INTERNACIONAIS,NaN,NaN,2013-09-02,02:54:00,1,0

In [20]:
filtro = df.ocorrencia_aerodromo.isnull()
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
4,79449,79449,ACIDENTE,PATROCÍNIO,MG,NaN,2020-07-21,00:00:00,1,0
5,79544,79544,ACIDENTE,JUTI,MS,NaN,2020-09-11,00:00:00,1,0
6,79331,79331,INCIDENTE,PONTES E LACERDA,MT,NaN,2020-02-03,00:00:00,1,0
9,78944,78944,INCIDENTE,CURITIBA,PR,NaN,2019-09-22,00:00:00,1,0
11,78867,78867,INCIDENTE,IRACEMA,RR,NaN,2019-07-06,00:00:00,1,8
...,...,...,...,...,...,...,...,...,...,...
5739,40314,40314,INCIDENTE,SÃO PAULO,SP,NaN,2010-03-04,23:50:00,1,0
5740,79249,79249,INCIDENTE,CAMPINAS,SP,NaN,2020-03-10,23:51:00,1,0
5743,40834,40834,INCIDENTE,ILHÉUS,BA,NaN,2010-05-10,23:55:00,1,0
5747,41574,41574,INCIDENTE,JUIZ DE FORA,MG,NaN,2010-05-14,23:57:00,1,0
5751,78823,78823,INCIDENTE,CORUMBÁ,MS,NaN,2017-07-09,NaN,1,0

In [21]:
filtro = df.ocorrencia_hora.isnull()
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
5751,78823,78823,INCIDENTE,CORUMBÁ,MS,NaN,2017-07-09,NaN,1,0

In [22]:
df.count()

codigo_ocorrencia             5752
codigo_ocorrencia2            5752
ocorrencia_classificacao      5752
ocorrencia_cidade             5752
ocorrencia_uf                 5751
ocorrencia_aerodromo          3403
ocorrencia_dia                5752
ocorrencia_hora               5751
total_aeronaves_envolvidas    5752
total_recomendacoes           5752
dtype: int64

In [23]:
#ocorrências com mais de 10 recomendações
filtro = df.total_recomendacoes > 10
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
63,78733,78733,INCIDENTE,RIBEIRÃO PRETO,SP,SBRP,2019-05-07,00:55:00,1,11
326,42715,42715,INCIDENTE,JOÃO PESSOA,PB,SBJP,2010-09-05,08:10:00,1,19
530,46785,46785,INCIDENTE,RIBEIRÃO PRETO,SP,SBRP,2013-01-05,10:00:00,1,11
727,41610,41610,INCIDENTE,NAVEGANTES,SC,NaN,2010-04-29,10:52:00,1,11
872,79196,79196,ACIDENTE,INACIOLÂNDIA,GO,NaN,2020-02-17,11:20:00,1,23
884,66335,66335,ACIDENTE,SÃO SEPÉ,RS,NaN,2017-02-04,11:20:00,1,11
1062,45936,45936,ACIDENTE,SINOP,MT,NaN,2012-06-13,11:50:00,1,20
1972,46093,46093,ACIDENTE,ESPINOSA,MG,NaN,2012-07-06,13:50:00,1,11
2795,52691,52691,INCIDENTE GRAVE,SANTANA DO PARAÍSO,MG,NaN,2014-10-24,15:35:00,1,13
3930,43294,43294,ACIDENTE,GOIÂNIA,GO,NaN,2010-11-22,18:30:00,1,12

In [24]:
#ocorrências com mais de 10 recomendações
filtro = df.total_recomendacoes > 10
df.loc[filtro, ['ocorrencia_cidade', 'total_recomendacoes']]

       ocorrencia_cidade  total_recomendacoes
63        RIBEIRÃO PRETO                   11
326          JOÃO PESSOA                   19
530       RIBEIRÃO PRETO                   11
727           NAVEGANTES                   11
872         INACIOLÂNDIA                   23
884             SÃO SEPÉ                   11
1062               SINOP                   20
1972            ESPINOSA                   11
2795  SANTANA DO PARAÍSO                   13
3930             GOIÂNIA                   12

In [25]:
#ocorrências cuja classificação == INCIDENTE GRAVE	
filtro = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
23,66395,66395,INCIDENTE GRAVE,GUARULHOS,SP,SBBR,2017-02-09,00:11:00,1,0
39,60927,60927,INCIDENTE GRAVE,PORTO DE MOZ,PA,NaN,2016-03-27,00:26:00,1,0
47,77803,77803,INCIDENTE GRAVE,BRASÍLIA,DF,SBBR,2018-04-09,00:32:00,2,0
80,79125,79125,INCIDENTE GRAVE,CAUCAIA,CE,SBFZ,2020-01-16,01:10:00,1,1
98,66543,66543,INCIDENTE GRAVE,GUARULHOS,SP,SBGR,2017-03-21,01:30:00,1,3
...,...,...,...,...,...,...,...,...,...,...
5629,79299,79299,INCIDENTE GRAVE,GUARANTÃ DO NORTE,MT,NaN,2020-04-18,23:00:00,1,0
5656,43282,43282,INCIDENTE GRAVE,CAMPO GRANDE,MS,SBCG,2010-11-18,23:08:00,1,0
5670,39156,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10,23:15:00,1,0
5709,77610,77610,INCIDENTE GRAVE,RIO DE JANEIRO,RJ,SBGL,2018-01-04,23:38:00,1,0
5717,79488,79488,INCIDENTE GRAVE,ITIRAPINA,SP,SDJA,2020-08-15,23:40:00,1,0

In [26]:
#ocorrências cuja classificação == INCIDENTE GRAVE e o estado == SP
filtro1 = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 & filtro2]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
23,66395,66395,INCIDENTE GRAVE,GUARULHOS,SP,SBBR,2017-02-09,00:11:00,1,0
98,66543,66543,INCIDENTE GRAVE,GUARULHOS,SP,SBGR,2017-03-21,01:30:00,1,3
291,78154,78154,INCIDENTE GRAVE,BARRETOS,SP,NaN,2018-08-25,06:00:00,1,1
378,79030,79030,INCIDENTE GRAVE,BRAGANÇA PAULISTA,SP,NaN,2019-12-16,09:00:00,1,0
473,46755,46755,INCIDENTE GRAVE,RIBEIRÃO PRETO,SP,SBRP,2012-12-21,09:43:00,1,0
...,...,...,...,...,...,...,...,...,...,...
5439,46863,46863,INCIDENTE GRAVE,BOITUVA,SP,NaN,2013-01-11,21:50:00,1,0
5559,77694,77694,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2018-02-26,22:30:00,1,0
5560,78590,78590,INCIDENTE GRAVE,CAMPINAS,SP,SBKP,2019-03-12,22:30:00,1,0
5605,50093,50093,INCIDENTE GRAVE,SÃO PAULO,SP,SBMT,2013-10-11,22:50:00,1,0
5717,79488,79488,INCIDENTE GRAVE,ITIRAPINA,SP,SDJA,2020-08-15,23:40:00,1,0

In [27]:
#ocorrências cuja classificação == INCIDENTE GRAVE ou o estado == SP
filtro1 = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 | filtro2]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
14,78977,78977,INCIDENTE,SÃO CARLOS,SP,SDSC,2019-10-17,00:00:00,1,0
18,66477,66477,INCIDENTE,SÃO PAULO,SP,SBSP,2017-03-03,00:03:00,1,0
22,46716,46716,INCIDENTE,CAMPINAS,SP,SBKP,2012-11-27,00:11:00,1,0
23,66395,66395,INCIDENTE GRAVE,GUARULHOS,SP,SBBR,2017-02-09,00:11:00,1,0
26,66860,66860,INCIDENTE,SÃO PAULO,SP,SBSP,2017-06-09,00:13:00,1,0
...,...,...,...,...,...,...,...,...,...,...
5731,78942,78942,INCIDENTE,GUARULHOS,SP,NaN,2019-09-22,23:48:00,1,0
5734,49623,49623,INCIDENTE,CAMPINAS,SP,NaN,2013-09-08,23:49:00,1,0
5739,40314,40314,INCIDENTE,SÃO PAULO,SP,NaN,2010-03-04,23:50:00,1,0
5740,79249,79249,INCIDENTE,CAMPINAS,SP,NaN,2020-03-10,23:51:00,1,0
5746,44902,44902,INCIDENTE,JUNDIAÍ,SP,SBJD,2011-08-05,23:55:00,1,0

In [28]:
#ocorrências cuja (classificação == INCIDENTE GRAVE ou classificação == INCIDENTE) e o estado == SP
filtro1 = df.ocorrencia_classificacao.isin(['INCIDENTE GRAVE', 'INCIDENTE'])
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 & filtro2]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
14,78977,78977,INCIDENTE,SÃO CARLOS,SP,SDSC,2019-10-17,00:00:00,1,0
18,66477,66477,INCIDENTE,SÃO PAULO,SP,SBSP,2017-03-03,00:03:00,1,0
22,46716,46716,INCIDENTE,CAMPINAS,SP,SBKP,2012-11-27,00:11:00,1,0
23,66395,66395,INCIDENTE GRAVE,GUARULHOS,SP,SBBR,2017-02-09,00:11:00,1,0
26,66860,66860,INCIDENTE,SÃO PAULO,SP,SBSP,2017-06-09,00:13:00,1,0
...,...,...,...,...,...,...,...,...,...,...
5731,78942,78942,INCIDENTE,GUARULHOS,SP,NaN,2019-09-22,23:48:00,1,0
5734,49623,49623,INCIDENTE,CAMPINAS,SP,NaN,2013-09-08,23:49:00,1,0
5739,40314,40314,INCIDENTE,SÃO PAULO,SP,NaN,2010-03-04,23:50:00,1,0
5740,79249,79249,INCIDENTE,CAMPINAS,SP,NaN,2020-03-10,23:51:00,1,0
5746,44902,44902,INCIDENTE,JUNDIAÍ,SP,SBJD,2011-08-05,23:55:00,1,0

In [29]:
#ocorrências cuja cidade comecem com a letra C
filtro = df.ocorrencia_cidade.str[0] == 'C'
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
9,78944,78944,INCIDENTE,CURITIBA,PR,NaN,2019-09-22,00:00:00,1,0
12,66665,66665,ACIDENTE,CACHOEIRA DO SUL,RS,NaN,2017-04-23,00:00:00,1,0
22,46716,46716,INCIDENTE,CAMPINAS,SP,SBKP,2012-11-27,00:11:00,1,0
24,78911,78911,INCIDENTE,CONFINS,MG,NaN,2019-08-22,00:12:00,1,0
43,47314,47314,INCIDENTE,CONFINS,MG,SBCF,2013-03-26,00:30:00,1,0
...,...,...,...,...,...,...,...,...,...,...
5718,79539,79539,INCIDENTE,CAMPINAS,SP,SBKP,2020-09-10,23:40:00,1,0
5734,49623,49623,INCIDENTE,CAMPINAS,SP,NaN,2013-09-08,23:49:00,1,0
5740,79249,79249,INCIDENTE,CAMPINAS,SP,NaN,2020-03-10,23:51:00,1,0
5749,52596,52596,ACIDENTE,CONFINS,MG,SBCF,2014-09-25,23:58:00,1,0
5751,78823,78823,INCIDENTE,CORUMBÁ,MS,NaN,2017-07-09,NaN,1,0

In [30]:
#ocorrências cuja cidade terminam com a letra A
filtro = df.ocorrencia_cidade.str[-1] == 'A'
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
0,77289,77289,INCIDENTE,VITÓRIA DA CONQUISTA,BA,SBQV,2017-11-28,00:00:00,1,0
1,46349,46349,INCIDENTE,GOIÂNIA,GO,SBGO,2012-08-23,00:00:00,1,0
2,65572,65572,INCIDENTE,GOIÂNIA,GO,SBGO,2016-08-25,00:00:00,1,0
6,79331,79331,INCIDENTE,PONTES E LACERDA,MT,NaN,2020-02-03,00:00:00,1,0
7,66378,66378,ACIDENTE,ITAITUBA,PA,SNMD,2017-02-05,00:00:00,1,3
...,...,...,...,...,...,...,...,...,...,...
5729,44542,44542,INCIDENTE,BRASÍLIA,DF,SBBR,2011-05-23,23:47:00,1,0
5736,44358,44358,INCIDENTE,GOIÂNIA,GO,NaN,2011-04-06,23:50:00,1,0
5744,42249,42249,INCIDENTE,BRASÍLIA,DF,SBBR,2010-08-06,23:55:00,1,0
5747,41574,41574,INCIDENTE,JUIZ DE FORA,MG,NaN,2010-05-14,23:57:00,1,0
5748,65490,65490,ACIDENTE,LONDRINA,PR,SBLO,2016-07-31,23:57:00,1,0

In [31]:
#ocorrências cuja cidade terminam com os caracteres MA
filtro = df.ocorrencia_cidade.str[-2:] == 'MA'
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
11,78867,78867,INCIDENTE,IRACEMA,RR,NaN,2019-07-06,00:00:00,1,8
465,79338,79338,INCIDENTE,IVINHEMA,MS,NaN,2020-05-15,09:40:00,1,0
656,77612,77612,ACIDENTE,ITAPEMA,SC,NaN,2018-01-06,10:30:00,1,0
864,44198,44198,ACIDENTE,BURITAMA,SP,NaN,2011-03-19,11:18:00,1,0
1128,49113,49113,INCIDENTE GRAVE,NOVA LIMA,MG,NaN,2013-06-15,12:00:00,1,0
1267,79282,79282,ACIDENTE,ITURAMA,MG,NaN,2020-04-11,12:20:00,1,0
1319,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,NaN,2010-01-09,12:30:00,1,3
1470,53223,53223,ACIDENTE,PINDORAMA,SP,NaN,2015-04-22,12:45:00,1,0
2029,78923,78923,INCIDENTE GRAVE,CANUTAMA,AM,NaN,2019-09-03,14:00:00,1,0
2083,79400,79400,INCIDENTE,IBIRAMA,SC,NaN,2020-06-09,14:00:00,1,0
2229,78080,78080,ACIDENTE,ITAPEMA,SC,NaN,2018-07-28,14:20:00,1,0
2467,52979,52979,ACIDENTE,IVINHEMA,MS,NaN,2015-01-02,14:50:00,1,0
2530,52340,52340,ACIDENTE,FAMA,MG,NaN,2014-09-20,15:00:00,1,0
2621,52984,52984,ACIDENTE,NOVA LIMA,MG,SJLY,2015-02-01,15:10:00,1,6
2952,51347,51347,INCIDENTE,DIADEMA,SP,NaN,2014-05-04,16:00:00,1,0
2957,66265,66265,ACIDENTE,BURITAMA,SP,NaN,2017-01-13,16:00:00,1,0
2973,53265,53265,ACIDENTE,PACARAIMA,RR,SDMM,2015-05-05,16:05:00,1,0
3109,43062,43062,ACIDENTE,NOVO GAMA,GO,NaN,2010-09-25,16:30:00,1,0
3312,53271,53271,INCIDENTE GRAVE,UMUARAMA,PR,NaN,2015-05-17,17:00:00,1,0
3573,65633,65633,INCIDENTE GRAVE,NOVA LIMA,MG,NaN,2016-08-31,17:40:00,1,0
3617,78782,78782,ACIDENTE,IVINHEMA,MS,NaN,2019-09-08,17:45:00,1,1
4211,45939,45939,ACIDENTE,UMUARAMA,PR,NaN,2012-05-30,19:00:00,1,0
4344,51785,51785,INCIDENTE,BURITAMA,SP,SIBX,2011-10-25,19:15:00,1,2
4414,77371,77371,ACIDENTE,CANUTAMA,AM,SDKH,2017-11-02,19:30:00,1,0
4470,46180,46180,ACIDENTE,AURIFLAMA,SP,NaN,2012-06-16,19:30:00,1,0
4618,65414,65414,INCIDENTE GRAVE,NOVA LIMA,MG,SJLY,2016-07-08,19:50:00,1,0
5310,39315,39315,ACIDENTE,CANUTAMA,AM,NaN,2010-01-15,21:22:00,1,0
5333,48799,48799,ACIDENTE,CANUTAMA,AM,NaN,2013-06-18,21:30:00,1,0
5383,53596,53596,INCIDENTE,ITAPEMA,SC,NaN,2015-03-10,21:35:00,1,0
5716,52832,52832,ACIDENTE,BURITAMA,SP,NaN,2014-12-14,23:40:00,1,0

In [32]:
#ocorrências cuja cidade contém (em qualquer parte do conteúdo) os caracteres MA ou AL
filtro = df.ocorrencia_cidade.str.contains('MA|AL')
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
8,48716,48716,INCIDENTE,MARINGÁ,PR,SBMG,2013-05-27,00:00:00,1,2
11,78867,78867,INCIDENTE,IRACEMA,RR,NaN,2019-07-06,00:00:00,1,8
16,53417,53417,INCIDENTE,SALVADOR,BA,SBSV,2015-07-18,00:03:00,1,0
27,78950,78950,INCIDENTE,MARINGÁ,PR,NaN,2019-09-26,00:14:00,1,0
36,43157,43157,INCIDENTE,SALVADOR,BA,SBSV,2010-10-06,00:25:00,1,0
...,...,...,...,...,...,...,...,...,...,...
5714,45088,45088,ACIDENTE,MARABÁ PAULISTA,SP,NaN,2011-10-01,23:40:00,1,0
5716,52832,52832,ACIDENTE,BURITAMA,SP,NaN,2014-12-14,23:40:00,1,0
5732,44892,44892,INCIDENTE,MANAUS,AM,SBEG,2011-04-28,23:49:00,1,0
5735,39969,39969,INCIDENTE,SALVADOR,BA,SBSV,2010-02-09,23:50:00,1,0
5741,65963,65963,INCIDENTE,SALVADOR,BA,SBSV,2016-11-03,23:53:00,2,0

In [33]:
#ocorrências do ano de 2015
filtro = df.ocorrencia_dia.dt.year == 2015
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
16,53417,53417,INCIDENTE,SALVADOR,BA,SBSV,2015-07-18,00:03:00,1,0
20,53122,53122,INCIDENTE,BRASÍLIA,DF,SBBR,2015-01-11,00:07:00,1,0
30,53376,53376,ACIDENTE,RIO VERDE,GO,NaN,2015-07-19,00:15:00,1,0
44,53230,53230,INCIDENTE,CAMPO GRANDE,MS,SBCG,2015-04-10,00:30:00,1,0
49,53328,53328,INCIDENTE,BRASÍLIA,DF,NaN,2015-06-05,00:35:00,1,0
...,...,...,...,...,...,...,...,...,...,...
5647,53185,53185,INCIDENTE,CURITIBA,PR,SBCT,2015-03-24,23:01:00,1,0
5657,53638,53638,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2015-11-29,23:08:00,1,0
5675,53306,53306,ACIDENTE,ATALAIA DO NORTE,AM,NaN,2015-05-29,23:17:00,1,0
5684,53149,53149,ACIDENTE,TABATINGA,AM,SBTT,2015-03-11,23:25:00,1,0
5688,52994,52994,INCIDENTE,SÃO PAULO,SP,SBMT,2015-01-09,23:25:00,1,0

In [35]:
#ocorrências do ano de 2015 mes 12 e dia 3 e 8
filtro1 = df.ocorrencia_dia.dt.year == 2015
filtro2 = df.ocorrencia_dia.dt.month == 12
filtro3 = df.ocorrencia_dia.dt.day >2
filtro4 = df.ocorrencia_dia.dt.day <9

df.loc[filtro1 & filtro2 & filtro3 & filtro4]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
591,53629,53629,ACIDENTE,JALES,SP,SDJL,2015-12-08,10:20:00,1,0
717,53575,53575,INCIDENTE,CAMPOS DOS GOYTACAZES,RJ,SBFS,2015-12-03,10:50:00,1,0
1605,60636,60636,INCIDENTE,CAXIAS DO SUL,RS,SBCX,2015-12-08,13:00:00,1,0
1675,53625,53625,ACIDENTE,TRINDADE,GO,NaN,2015-12-06,13:10:00,1,0
2349,53628,53628,ACIDENTE,AGUAÍ,SP,NaN,2015-12-08,14:30:00,1,0
2573,53626,53626,ACIDENTE,AMERICANA,SP,SDAI,2015-12-06,15:00:00,1,1
3053,53631,53631,INCIDENTE,CAMPINAS,SP,SBKP,2015-12-08,16:19:00,1,0
3227,60637,60637,INCIDENTE,BELO HORIZONTE,MG,SBBH,2015-12-03,16:47:00,1,2

In [36]:
df.dtypes

codigo_ocorrencia                      int64
codigo_ocorrencia2                     int64
ocorrencia_classificacao              object
ocorrencia_cidade                     object
ocorrencia_uf                         object
ocorrencia_aerodromo                  object
ocorrencia_dia                datetime64[ns]
ocorrencia_hora                       object
total_aeronaves_envolvidas             int64
total_recomendacoes                    int64
dtype: object

In [37]:
#ocorrências do ano de 2015 e mês 12 e dias entre 3 e 8
filtro_ano = df.ocorrencia_dia.dt.year == 2015
filtro_mes = df.ocorrencia_dia.dt.month == 12
filtro_dia_inicio = df.ocorrencia_dia.dt.day > 2 
filtro_dia_fim = df.ocorrencia_dia.dt.day < 9
df.loc[filtro_ano & filtro_mes & filtro_dia_inicio & filtro_dia_fim]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes
591,53629,53629,ACIDENTE,JALES,SP,SDJL,2015-12-08,10:20:00,1,0
717,53575,53575,INCIDENTE,CAMPOS DOS GOYTACAZES,RJ,SBFS,2015-12-03,10:50:00,1,0
1605,60636,60636,INCIDENTE,CAXIAS DO SUL,RS,SBCX,2015-12-08,13:00:00,1,0
1675,53625,53625,ACIDENTE,TRINDADE,GO,NaN,2015-12-06,13:10:00,1,0
2349,53628,53628,ACIDENTE,AGUAÍ,SP,NaN,2015-12-08,14:30:00,1,0
2573,53626,53626,ACIDENTE,AMERICANA,SP,SDAI,2015-12-06,15:00:00,1,1
3053,53631,53631,INCIDENTE,CAMPINAS,SP,SBKP,2015-12-08,16:19:00,1,0
3227,60637,60637,INCIDENTE,BELO HORIZONTE,MG,SBBH,2015-12-03,16:47:00,1,2

In [38]:
df['ocorrencia_dia_hora'] = pd.to_datetime(df.ocorrencia_dia.astype(str) + ' '  + df.ocorrencia_hora)

In [39]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes,ocorrencia_dia_hora
0,77289,77289,INCIDENTE,VITÓRIA DA CONQUISTA,BA,SBQV,2017-11-28,00:00:00,1,0,2017-11-28
1,46349,46349,INCIDENTE,GOIÂNIA,GO,SBGO,2012-08-23,00:00:00,1,0,2012-08-23
2,65572,65572,INCIDENTE,GOIÂNIA,GO,SBGO,2016-08-25,00:00:00,1,0,2016-08-25
3,78635,78635,INCIDENTE,OURO FINO,MG,SNOF,2019-04-04,00:00:00,1,0,2019-04-04
4,79449,79449,ACIDENTE,PATROCÍNIO,MG,NaN,2020-07-21,00:00:00,1,0,2020-07-21

In [40]:
df.dtypes

codigo_ocorrencia                      int64
codigo_ocorrencia2                     int64
ocorrencia_classificacao              object
ocorrencia_cidade                     object
ocorrencia_uf                         object
ocorrencia_aerodromo                  object
ocorrencia_dia                datetime64[ns]
ocorrencia_hora                       object
total_aeronaves_envolvidas             int64
total_recomendacoes                    int64
ocorrencia_dia_hora           datetime64[ns]
dtype: object

In [41]:
#ocorrências do ano de 2015 e mês 12 e dias entre 3 e 8
filtro_ano = df.ocorrencia_dia_hora.dt.year == 2015
filtro_mes = df.ocorrencia_dia_hora.dt.month == 12
filtro_dia_inicio = df.ocorrencia_dia_hora.dt.day > 2 
filtro_dia_fim = df.ocorrencia_dia_hora.dt.day < 9
df.loc[filtro_ano & filtro_mes & filtro_dia_inicio & filtro_dia_fim]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes,ocorrencia_dia_hora
591,53629,53629,ACIDENTE,JALES,SP,SDJL,2015-12-08,10:20:00,1,0,2015-12-08 10:20:00
717,53575,53575,INCIDENTE,CAMPOS DOS GOYTACAZES,RJ,SBFS,2015-12-03,10:50:00,1,0,2015-12-03 10:50:00
1605,60636,60636,INCIDENTE,CAXIAS DO SUL,RS,SBCX,2015-12-08,13:00:00,1,0,2015-12-08 13:00:00
1675,53625,53625,ACIDENTE,TRINDADE,GO,NaN,2015-12-06,13:10:00,1,0,2015-12-06 13:10:00
2349,53628,53628,ACIDENTE,AGUAÍ,SP,NaN,2015-12-08,14:30:00,1,0,2015-12-08 14:30:00
2573,53626,53626,ACIDENTE,AMERICANA,SP,SDAI,2015-12-06,15:00:00,1,1,2015-12-06 15:00:00
3053,53631,53631,INCIDENTE,CAMPINAS,SP,SBKP,2015-12-08,16:19:00,1,0,2015-12-08 16:19:00
3227,60637,60637,INCIDENTE,BELO HORIZONTE,MG,SBBH,2015-12-03,16:47:00,1,2,2015-12-03 16:47:00

In [42]:
filtro1 = df.ocorrencia_dia_hora >= '2015-12-03 11:00:00'
filtro2 = df.ocorrencia_dia_hora <= '2015-12-08 14:30:00'
df.loc[filtro1 & filtro2]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes,ocorrencia_dia_hora
591,53629,53629,ACIDENTE,JALES,SP,SDJL,2015-12-08,10:20:00,1,0,2015-12-08 10:20:00
1605,60636,60636,INCIDENTE,CAXIAS DO SUL,RS,SBCX,2015-12-08,13:00:00,1,0,2015-12-08 13:00:00
1675,53625,53625,ACIDENTE,TRINDADE,GO,NaN,2015-12-06,13:10:00,1,0,2015-12-06 13:10:00
2349,53628,53628,ACIDENTE,AGUAÍ,SP,NaN,2015-12-08,14:30:00,1,0,2015-12-08 14:30:00
2573,53626,53626,ACIDENTE,AMERICANA,SP,SDAI,2015-12-06,15:00:00,1,1,2015-12-06 15:00:00
3227,60637,60637,INCIDENTE,BELO HORIZONTE,MG,SBBH,2015-12-03,16:47:00,1,2,2015-12-03 16:47:00

In [43]:
#ocorrências do ano de 2015 e mês 03
filtro1 = df.ocorrencia_dia.dt.year == 2015
filtro2 = df.ocorrencia_dia.dt.month == 3
df201503 = df.loc[filtro1 & filtro2]
df201503

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes,ocorrencia_dia_hora
239,53169,53169,INCIDENTE,BELÉM,PA,SBBE,2015-03-19,03:25:00,1,0,2015-03-19 03:25:00
310,53189,53189,INCIDENTE,CONFINS,MG,SBCF,2015-03-14,07:20:00,1,0,2015-03-14 07:20:00
619,53179,53179,ACIDENTE,CAIAPÔNIA,GO,NaN,2015-03-28,10:30:00,1,1,2015-03-28 10:30:00
920,53238,53238,INCIDENTE,SERRA,ES,NaN,2015-03-13,11:30:00,1,0,2015-03-13 11:30:00
956,53152,53152,INCIDENTE GRAVE,RIO DE JANEIRO,RJ,SBRJ,2015-03-10,11:30:00,1,5,2015-03-10 11:30:00
1444,53148,53148,ACIDENTE,ARARAS,SP,SDEH,2015-03-12,12:40:00,1,7,2015-03-12 12:40:00
1812,53120,53120,ACIDENTE,CHAVES,PA,SNXW,2015-03-04,13:30:00,1,0,2015-03-04 13:30:00
1941,53184,53184,ACIDENTE,PORTO UNIÃO,SC,NaN,2015-03-22,13:44:00,1,0,2015-03-22 13:44:00
1974,53109,53109,ACIDENTE,CAMPO GRANDE,MS,SSIE,2015-03-05,13:50:00,1,0,2015-03-05 13:50:00
2366,53165,53165,INCIDENTE GRAVE,SÃO DESIDÉRIO,BA,NaN,2015-03-20,14:35:00,1,0,2015-03-20 14:35:00
2418,53154,53154,INCIDENTE,SOROCABA,SP,SDCO,2015-03-13,14:40:00,1,0,2015-03-13 14:40:00
2433,53166,53166,INCIDENTE GRAVE,RIACHÃO DAS NEVES,BA,NaN,2015-03-24,14:45:00,1,0,2015-03-24 14:45:00
2494,53186,53186,INCIDENTE,BRASÍLIA,DF,NaN,2015-03-27,14:55:00,1,0,2015-03-27 14:55:00
2854,53153,53153,INCIDENTE,PORTO ALEGRE,RS,SBPA,2015-03-13,15:45:00,1,0,2015-03-13 15:45:00
2888,53213,53213,INCIDENTE,JUNDIAÍ,SP,SBJD,2015-03-28,15:51:00,1,0,2015-03-28 15:51:00
3093,53190,53190,INCIDENTE,CAMPINAS,SP,SBKP,2015-03-28,16:26:00,1,0,2015-03-28 16:26:00
3172,53412,53412,INCIDENTE GRAVE,MACAÉ,RJ,NaN,2015-03-24,16:35:00,1,0,2015-03-24 16:35:00
3407,53178,53178,ACIDENTE,DIAMANTINO,MT,NaN,2015-03-23,17:15:00,1,0,2015-03-23 17:15:00
3537,53212,53212,INCIDENTE,JUNDIAÍ,SP,SBJD,2015-03-28,17:32:00,1,0,2015-03-28 17:32:00
3538,53167,53167,INCIDENTE,MARABÁ,PA,SBMA,2015-03-10,17:33:00,1,0,2015-03-10 17:33:00
3680,53170,53170,INCIDENTE,CONFINS,MG,SBCF,2015-03-24,17:57:00,1,0,2015-03-24 17:57:00
3724,53193,53193,ACIDENTE,CANARANA,MT,NaN,2015-03-14,18:00:00,1,0,2015-03-14 18:00:00
3785,53151,53151,INCIDENTE GRAVE,MAUÉS,AM,SWMW,2015-03-16,18:07:00,1,0,2015-03-16 18:07:00
3954,53164,53164,ACIDENTE,PRINCESA ISABEL,PB,NaN,2015-03-15,18:30:00,1,0,2015-03-15 18:30:00
4025,53187,53187,INCIDENTE,JOINVILLE,SC,SBJV,2015-03-29,18:36:00,1,0,2015-03-29 18:36:00
4139,53180,53180,ACIDENTE,ARAGUARI,MG,NaN,2015-03-28,18:52:00,1,0,2015-03-28 18:52:00
4560,53211,53211,INCIDENTE,BAURU,SP,SBBU,2015-03-30,19:40:00,1,0,2015-03-30 19:40:00
4874,53181,53181,ACIDENTE,COLÍDER,MT,NaN,2015-03-29,20:17:00,1,0,2015-03-29 20:17:00
4944,53194,53194,ACIDENTE,GUARACIABA DO NORTE,CE,SWBE,2015-03-26,20:30:00,1,0,2015-03-26 20:30:00
5063,53182,53182,ACIDENTE,SANTA LUZIA,MA,NaN,2015-03-23,20:40:00,1,0,2015-03-23 20:40:00
5201,53188,53188,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2015-03-20,21:00:00,1,0,2015-03-20 21:00:00
5219,53112,53112,ACIDENTE,MOGI GUAÇU,SP,NaN,2015-03-06,21:00:00,1,0,2015-03-06 21:00:00
5235,53168,53168,INCIDENTE,PARÁ DE MINAS,MG,SNPA,2015-03-16,21:05:00,1,0,2015-03-16 21:05:00
5383,53596,53596,INCIDENTE,ITAPEMA,SC,NaN,2015-03-10,21:35:00,1,0,2015-03-10 21:35:00
5635,53183,53183,ACIDENTE,AMAPORÃ,PR,NaN,2015-03-02,23:00:00,1,0,2015-03-02 23:00:00
5647,53185,53185,INCIDENTE,CURITIBA,PR,SBCT,2015-03-24,23:01:00,1,0,2015-03-24 23:01:00
5684,53149,53149,ACIDENTE,TABATINGA,AM,SBTT,2015-03-11,23:25:00,1,0,2015-03-11 23:25:00

In [44]:
df201503.count()

codigo_ocorrencia             37
codigo_ocorrencia2            37
ocorrencia_classificacao      37
ocorrencia_cidade             37
ocorrencia_uf                 37
ocorrencia_aerodromo          21
ocorrencia_dia                37
ocorrencia_hora               37
total_aeronaves_envolvidas    37
total_recomendacoes           37
ocorrencia_dia_hora           37
dtype: int64

In [45]:
df201503.groupby(['ocorrencia_classificacao']).codigo_ocorrencia.count()

ocorrencia_classificacao
ACIDENTE           15
INCIDENTE          17
INCIDENTE GRAVE     5
Name: codigo_ocorrencia, dtype: int64

In [46]:
df201503.groupby(['ocorrencia_classificacao']).ocorrencia_aerodromo.count()

ocorrencia_classificacao
ACIDENTE            5
INCIDENTE          14
INCIDENTE GRAVE     2
Name: ocorrencia_aerodromo, dtype: int64

In [47]:
df201503.groupby(['ocorrencia_classificacao']).size()

ocorrencia_classificacao
ACIDENTE           15
INCIDENTE          17
INCIDENTE GRAVE     5
dtype: int64

In [48]:
df201503.groupby(['ocorrencia_classificacao']).size().sort_values()

ocorrencia_classificacao
INCIDENTE GRAVE     5
ACIDENTE           15
INCIDENTE          17
dtype: int64

In [49]:
df201503.groupby(['ocorrencia_classificacao']).size().sort_values(ascending=False)

ocorrencia_classificacao
INCIDENTE          17
ACIDENTE           15
INCIDENTE GRAVE     5
dtype: int64

In [50]:
filtro1 = df.ocorrencia_dia.dt.year == 2010
filtro2 = df.ocorrencia_uf.isin(['SP','MG','ES','RJ'])
dfsudeste2010 = df.loc[filtro1 & filtro2]
dfsudeste2010

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes,ocorrencia_dia_hora
41,43465,43465,INCIDENTE,ARARAQUARA,SP,NaN,2010-12-05,00:27:00,1,1,2010-12-05 00:27:00
52,41589,41589,INCIDENTE,SÃO PAULO,SP,NaN,2010-06-15,00:38:00,1,0,2010-06-15 00:38:00
58,39910,39910,INCIDENTE,GUARULHOS,SP,SBGR,2010-03-08,00:49:00,1,3,2010-03-08 00:49:00
68,41481,41481,INCIDENTE,CONFINS,MG,SBCF,2010-06-02,01:00:00,1,0,2010-06-02 01:00:00
79,41394,41394,INCIDENTE,GUARULHOS,SP,SBGR,2010-06-04,01:05:00,1,0,2010-06-04 01:05:00
...,...,...,...,...,...,...,...,...,...,...,...
5698,43403,43403,ACIDENTE,ARAÇATUBA,SP,NaN,2010-11-13,23:30:00,1,0,2010-11-13 23:30:00
5726,43030,43030,INCIDENTE,GUARULHOS,SP,NaN,2010-10-05,23:45:00,1,0,2010-10-05 23:45:00
5739,40314,40314,INCIDENTE,SÃO PAULO,SP,NaN,2010-03-04,23:50:00,1,0,2010-03-04 23:50:00
5745,42486,42486,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-08-23,23:55:00,1,0,2010-08-23 23:55:00
5747,41574,41574,INCIDENTE,JUIZ DE FORA,MG,NaN,2010-05-14,23:57:00,1,0,2010-05-14 23:57:00

In [51]:
dfsudeste2010.groupby(['ocorrencia_classificacao']).size()

ocorrencia_classificacao
ACIDENTE            40
INCIDENTE          170
INCIDENTE GRAVE     18
dtype: int64

In [52]:
dfsudeste2010.count()

codigo_ocorrencia             228
codigo_ocorrencia2            228
ocorrencia_classificacao      228
ocorrencia_cidade             228
ocorrencia_uf                 228
ocorrencia_aerodromo          127
ocorrencia_dia                228
ocorrencia_hora               228
total_aeronaves_envolvidas    228
total_recomendacoes           228
ocorrencia_dia_hora           228
dtype: int64

In [53]:
dfsudeste2010.groupby(['ocorrencia_uf', 'ocorrencia_classificacao']).size()

ocorrencia_uf  ocorrencia_classificacao
ES             INCIDENTE                    5
MG             ACIDENTE                     7
               INCIDENTE                   39
               INCIDENTE GRAVE              5
RJ             ACIDENTE                     9
               INCIDENTE                   52
               INCIDENTE GRAVE              4
SP             ACIDENTE                    24
               INCIDENTE                   74
               INCIDENTE GRAVE              9
dtype: int64

In [54]:
dfsudeste2010.groupby(['ocorrencia_cidade']).size().sort_values(ascending=False)

ocorrencia_cidade
RIO DE JANEIRO           47
SÃO PAULO                33
GUARULHOS                18
BELO HORIZONTE           17
CAMPINAS                 13
MACAÉ                    12
CONFINS                   7
UBERLÂNDIA                5
JUIZ DE FORA              4
VITÓRIA                   4
MARÍLIA                   3
SÃO JOSÉ DOS CAMPOS       3
SÃO JOSÉ DO RIO PRETO     3
SOROCABA                  2
ITANHAÉM                  2
RIBEIRÃO PRETO            2
IPATINGA                  2
POÇOS DE CALDAS           2
DIVINÓPOLIS               2
BAURU                     2
JUNDIAÍ                   2
ARARAQUARA                2
CAMPOS DOS GOYTACAZES     2
AREALVA                   2
MONTES CLAROS             2
UBERABA                   2
POUSO ALEGRE              1
PIRACICABA                1
PIRASSUNUNGA              1
ARRAIAL DO CABO           1
RESENDE                   1
PENÁPOLIS                 1
SANTOS                    1
SERRA NEGRA               1
SÃO BERNARDO DO CAMPO     1
TIMÓTEO                   1
ARAÇATUBA                 1
PIACATU                   1
BOM JESUS DO AMPARO       1
PARÁ DE MINAS             1
OLÍMPIA                   1
BRAGANÇA PAULISTA         1
BROTAS                    1
CAJOBI                    1
CAMANDUCAIA               1
BOITUVA                   1
CASIMIRO DE ABREU         1
BOCAINA                   1
COROMANDEL                1
COSMÓPOLIS                1
DIAMANTINA                1
BEBEDOURO                 1
IPERÓ                     1
ITÁPOLIS                  1
LINHARES                  1
MANGARATIBA               1
BOM JESUS DO GALHO        1
NOVO HORIZONTE            1
AMERICANA                 1
dtype: int64

In [55]:
filtro1 = dfsudeste2010.ocorrencia_cidade == 'RIO DE JANEIRO'
filtro2 = dfsudeste2010.total_recomendacoes > 0
dfsudeste2010.loc[filtro1 & filtro2]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes,ocorrencia_dia_hora
1450,42067,42067,INCIDENTE,RIO DE JANEIRO,RJ,NaN,2010-07-20,12:41:00,1,1,2010-07-20 12:41:00
1638,43283,43283,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2010-11-20,13:02:00,1,1,2010-11-20 13:02:00
2992,41573,41573,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2010-05-13,16:10:00,1,4,2010-05-13 16:10:00

In [56]:
filtro = dfsudeste2010.ocorrencia_cidade == 'RIO DE JANEIRO'
dfsudeste2010.loc[filtro].total_recomendacoes.sum()

6

In [57]:
dfsudeste2010.groupby(['ocorrencia_aerodromo'], dropna=False).total_recomendacoes.sum()

ocorrencia_aerodromo
SBAE     2
SBAQ     0
SBBH     2
SBBP     2
SBBU     0
SBCF    13
SBGL     0
SBGR     3
SBIP     0
SBJD     1
SBJR     5
SBKP     2
SBME     0
SBMK     1
SBML     2
SBMT     0
SBPC     0
SBPR     0
SBRJ     0
SBRP     0
SBSJ     1
SBSP     2
SBSR     3
SBUL     0
SBUR     1
SBVT     0
SDAM     0
SDOI     2
SDPW     0
SDPY     0
SNDT     1
SNDV     0
SNXT     1
NaN     14
Name: total_recomendacoes, dtype: int64

In [58]:
dfsudeste2010.groupby(['ocorrencia_cidade']).total_recomendacoes.sum()

ocorrencia_cidade
AMERICANA                 0
ARARAQUARA                1
ARAÇATUBA                 0
AREALVA                   4
ARRAIAL DO CABO           0
BAURU                     2
BEBEDOURO                 0
BELO HORIZONTE            2
BOCAINA                   2
BOITUVA                   2
BOM JESUS DO AMPARO       0
BOM JESUS DO GALHO        0
BRAGANÇA PAULISTA         2
BROTAS                    0
CAJOBI                    0
CAMANDUCAIA               0
CAMPINAS                  2
CAMPOS DOS GOYTACAZES     2
CASIMIRO DE ABREU         0
CONFINS                  13
COROMANDEL                1
COSMÓPOLIS                0
DIAMANTINA                1
DIVINÓPOLIS               0
GUARULHOS                 3
IPATINGA                  0
IPERÓ                     0
ITANHAÉM                  0
ITÁPOLIS                  0
JUIZ DE FORA              0
JUNDIAÍ                   1
LINHARES                  0
MACAÉ                     1
MANGARATIBA               0
MARÍLIA                   2
MONTES CLAROS             1
NOVO HORIZONTE            3
OLÍMPIA                   0
PARÁ DE MINAS             0
PENÁPOLIS                 0
PIACATU                   0
PIRACICABA                0
PIRASSUNUNGA              0
POUSO ALEGRE              0
POÇOS DE CALDAS           0
RESENDE                   0
RIBEIRÃO PRETO            0
RIO DE JANEIRO            6
SANTOS                    0
SERRA NEGRA               0
SOROCABA                  0
SÃO BERNARDO DO CAMPO     0
SÃO JOSÉ DO RIO PRETO     3
SÃO JOSÉ DOS CAMPOS       1
SÃO PAULO                 2
TIMÓTEO                   0
UBERABA                   1
UBERLÂNDIA                0
VITÓRIA                   0
Name: total_recomendacoes, dtype: int64

In [59]:
filtro = dfsudeste2010.total_recomendacoes > 0
dfsudeste2010.loc[filtro].groupby(['ocorrencia_cidade']).total_recomendacoes.sum().sort_values()

ocorrencia_cidade
ARARAQUARA                1
SÃO JOSÉ DOS CAMPOS       1
MONTES CLAROS             1
MACAÉ                     1
JUNDIAÍ                   1
COROMANDEL                1
DIAMANTINA                1
UBERABA                   1
CAMPINAS                  2
CAMPOS DOS GOYTACAZES     2
BOITUVA                   2
SÃO PAULO                 2
BOCAINA                   2
BELO HORIZONTE            2
MARÍLIA                   2
BAURU                     2
BRAGANÇA PAULISTA         2
GUARULHOS                 3
NOVO HORIZONTE            3
SÃO JOSÉ DO RIO PRETO     3
AREALVA                   4
RIO DE JANEIRO            6
CONFINS                  13
Name: total_recomendacoes, dtype: int64

In [60]:
dfsudeste2010.loc[filtro].groupby(['ocorrencia_cidade', dfsudeste2010.ocorrencia_dia.dt.month]).total_recomendacoes.sum()

ocorrencia_cidade      ocorrencia_dia
ARARAQUARA             12                1
AREALVA                8                 4
BAURU                  8                 2
BELO HORIZONTE         12                2
BOCAINA                5                 2
BOITUVA                7                 2
BRAGANÇA PAULISTA      11                2
CAMPINAS               8                 2
CAMPOS DOS GOYTACAZES  3                 2
CONFINS                3                 5
                       11                8
COROMANDEL             10                1
DIAMANTINA             9                 1
GUARULHOS              3                 3
JUNDIAÍ                6                 1
MACAÉ                  6                 1
MARÍLIA                5                 2
MONTES CLAROS          10                1
NOVO HORIZONTE         7                 3
RIO DE JANEIRO         5                 4
                       7                 1
                       11                1
SÃO JOSÉ DO RIO PRETO  8                 3
SÃO JOSÉ DOS CAMPOS    8                 1
SÃO PAULO              3                 2
UBERABA                9                 1
Name: total_recomendacoes, dtype: int64

In [61]:
filtro1 = dfsudeste2010.total_recomendacoes > 0
filtro2 = dfsudeste2010.ocorrencia_cidade == 'SÃO PAULO'
dfsudeste2010.loc[filtro1 & filtro2]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_aeronaves_envolvidas,total_recomendacoes,ocorrencia_dia_hora
1230,40329,40329,INCIDENTE,SÃO PAULO,SP,SBSP,2010-03-18,12:10:00,1,2,2010-03-18 12:10:00